/*Fonts
font-family: 'Source Sans Pro', sans-serif;
*/

body {
    margin: 0;
}

.title-bar {
    display: flex;
    width: 100vw;
    height: 50vh;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    align-items: center;
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.nav-item {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    width: 65%;
    align-items: center;
    justify-content: center;
}

.title-image {
    margin-left: 5%;
}